html, body{
    height: 100%;
    position: relative;
}
.page-container{
    width: 100%;
}
.section-container{
    display: flex;
    width: 100%;
    margin-bottom: 1rem;
}
.section-containerOn{
    display: flex;
    width: 100%;
    position: relative;
}
.content-sections {
    width: 100%;
    height: 100%;
    position: relative;
}
.content-sections35 {
    width: 35%;
    height: 100%;
    position: relative;
}
.content-btn-act-on{
    position: absolute;
    left: 5px;
    bottom: -5px;
    width: 140px;
    height: 40px;
    display: flex;
    justify-content: space-evenly; 
}
.content-btn-act{
    position: absolute;
    right: 5px;
    bottom: -5px;
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
}
.grised{
    background: #c7c6c6 !important;
    color: gray !important;
    border-radius: 2px;
    cursor: not-allowed !important;
}
.parameter-title{
    cursor: pointer;
}
.add-text{
    margin-right: 1rem;
    cursor: pointer;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
.edit-btn, .add-bloc-btn {
    width: 30px;
    height: 30px;
    background: #4b9a56;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.edit-btn-on, .delete-btn-on, .text-btn-on, .image-btn-on {
    width: 30px;
    height: 30px;
    background: blue;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: black;
}
.bloc-container{
    display: flex;
    align-items: center;
    position: relative;
}
.defaultSection{
    display: flex;
    width: 40px;
    height: 25px;
    margin: 4px;
    cursor: pointer;
    position: relative;
}
.preview-link {
    position: absolute;
    right: 16px;
    width: 95px;
    height: 30px;
}
.oneSection{
    display: flex;
    width: 100%;
    border: 1px solid;
    height: 92%;
}
.input_nbre_col{
    position: absolute;
    left: 45px;
    width: 90px;
    height: 20px;
    display: flex;
    justify-content: space-around;
}
.content_nbre_col{
    left: 45px;
    width: 90px;
    height: 20px;
    display: flex;
    justify-content: space-around;
}
.nbre_col{
    position: absolute;
    left: 45px;
    width: 132px;
    height: 20px;
}
.basic {
    width: 25px;
    height: 15px;
    border: 1px;
    position: absolute;
    bottom: 0px;
    right: 4px;
}
.col-100{
    width: 100%;
}
.col-50{
    width: 50%;
}
.col-33{
    width: 33.33%;
}
.col-65{
    width: 65%;
}
.col-35{
    width: 35%;
}
.border-left{
    border-left: 1px solid
}
.erase-bloc{
    position: absolute;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid grey;
    border-radius: 50%;
    color: red;
    right: 20px;
    top: 2px;
    cursor: pointer;
}
.body-container{
    display: flex;
    width: 100%;
    margin-bottom: 1rem;
    position: relative;
    margin-top: 1rem;
}
.bloc-content{
    width: 100%;
    overflow-y: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
}
.bloc-content span{
    cursor: pointer;
}
.section{
    display: flex;
}
.section-side{
    display: flex;
    flex-direction: column;
    width: 3rem;
    justify-content: center;
    align-items: center;
    background: #b3b3b3;
    border-radius: 5px 0px 0px 5px;
    height: 100%;
}
.section-side .fa{
    font-size: 20px !important;
    margin-bottom: 0.5rem;
}
.fa{
    cursor: pointer;
    color: black !important;
}
.section-content{
    display: flex;
    width: 93%;
    border: 1px solid #b3b3b3;
    flex-direction: column;
}
.header-section{
    display: flex;
    width: 100%;
    height: 5rem;
    padding: 0.5rem;
    flex-wrap: wrap;
}
.section-body{
    display: flex;
    margin-bottom: 10px;
    position: relative;
}
.column-direction{
    flex-direction: column;
}
.border-dashed{
    border: 1px dashed orange;
}
.border-dashed-blue{
    border: 1px dashed blue !important;
}
.border-left-dashed-blue{
    border-left: 1px dashed blue !important;
}
.border-left-dashed{
    border-left: 1px dashed orange;
}
.title{
    display: flex;
    width: 5rem;
    position: relative;
    align-items: center;
}
.image-attribut, .image-setting{
    cursor: pointer;
}
.caret{
    margin-left: 1rem;
}
.content-dropdown{
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    border-radius: 2px;
    border: 1px solid #b3b3b3;
    max-height: 112px;
    overflow-y: auto;
    position: absolute;
    background: white;
}
.drop-item{
    display: flex;
    padding: 5px;
    max-height: 112px;
    cursor: pointer;
}
.drop-item:nth-child(even){
    background: #b3b3b3;
}
.police{
    display: flex;
    width: 135px;
    justify-content: space-around;
    align-items: center;
    background: #eaeaea;
    height: 30px;
    padding-right: 5px;
    border-radius: 4px;
    margin-right: 1rem;
}
.mise-en-page{
    display: flex;
    width: 140px;
    justify-content: space-around;
    align-items: center;
    background: #eaeaea;
    height: 30px;
    padding-right: 5px;
    border-radius: 4px;
    margin-right: 1rem;
}
.puce{
    display: flex;
    width: 220px;
    justify-content: space-around;
    align-items: center;
    background: #eaeaea;
    height: 30px;
    padding-right: 5px;
    border-radius: 4px;
    margin-right: 1rem;
}
.insertion{
    display: flex;
    width: 130px;
    justify-content: space-around;
    align-items: center;
    background: #eaeaea;
    height: 30px;
    padding-right: 5px;
    border-radius: 4px;
    margin-right: 1rem;
}
.margin-left-8{
    margin-left: 7.5px;
}
.item {
    width: 18px;
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
}
.active{
    background: #b3b3b3;
}
.square-content{
    display: flex;
    width: 50px;
    height: 25px;
    cursor: pointer;
}
.insert-content{
    display: flex;
    width: 30px;
    height: 25px;
    cursor: pointer;
}
.caret-content{
    display: flex;
    align-items: center;
}
.contentSquare{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: space-evenly;
    position: relative;
}
.position-absolute{
    position: absolute;
}
.position-relative{
    position: relative !important;
}
.nbre_not_on{
    left: 0px !important;
    width: 50px;
    height: auto !important;
}
.left{
    display: flex;
    width: 25px;
    height: 25px;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
}
.interline-left{
    display: flex;
    width: 25px;
    height: 25px;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
}
.interline-right{
    display: flex;
    width: 25px;
    height: 25px;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
}
.justify{
    display: flex;
    width: 25px;
    height: 25px;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
}
.center{
    display: flex;
    width: 25px;
    height: 25px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
}
.right{
    display: flex;
    width: 25px;
    height: 25px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    cursor: pointer;
}
.underOne {
    display: flex;
    width: 100%;
    height: 2px;
    background: black;
}
.square-and-under{
    display: flex;
    align-items: center;
}
.number {
    font-size: 8px;
    font-weight: bold;
}
.square{
    display: flex;
    width: 6px;
    height: 6px;
    background: black;
    border-radius: 50%;
    margin-right: 2px;
}
.underPuce{
    display: flex;
    width: 50%;
    height: 2px;
    background: black;
}
.underTwo {
    display: flex;
    width: 70%;
    height: 2px;
    background: black;
}
.color-txt {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.container-page-list {
    margin-bottom: 2rem;
    position: relative;
}
.add-btn-on-header {
    position: absolute;
    right: 67px;
    top: 4px;
    display: flex;
    width: 350px;
    justify-content: space-between;
}
.btn-create {
    width: 150px;
}
.btn, .btn-primary {
    height: 50px;
    background: #79b2ec;
    border: none;
    border-radius: 5px;
    display: flex;
    cursor: pointer;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    color: white;
}
.page-list-header {
    display: flex;
    justify-content: center;
}
.page-list-content {
    display: flex;
    justify-content: center;
}
.page-list-content table {
    width: 90%;
    text-align: center;
}
.td-action {
    width: 22%;
}
.td-title {
    width: 25%;
}
.page-list-content table tr{
    height: 40px;
}
.page-list-content table thead{
    font-weight: bold;
}
.page-list-content table button{
    height: 27px;
}
.img-color {
    height: 62%;
}
.tab-content{
    width: 38px !important
}
.border-pane {
    width: 20px;
    height: 20px;
    border: 1px dashed;
    margin-bottom: 4px;
}
.img-insert {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.tab-pane{
    width: 100%;
}
.tab-colored{
    background-color: red;
}
.tab-line {
    display: flex;
    width: 100%;
}
.tab-item {
    width: 5px;
    height: 5px;
    border: 1px solid;
}
.content-insert-img{
    position: relative;
}
.color {
    width: 16px;
    height: 4px;
    background: black;
}
/*Item*/
.is_hidden{
    display: none !important;
    opacity: 0;
}
.bold{
    font-weight: bold;
}
.italic{
    font-style: italic;
}
.soulign{
    text-decoration: underline;
}
.flex{
    display: flex;
}
.active_bloc{
    background-color: gray;
}
.is_blurred{
    opacity: 0.2;
}
.no_scroll{
    /*overflow: hidden;*/
}
/*Modal Property*/
.modal{
    position: absolute;
    width: 100%;
    top: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-content{
    width: 60%;
    background: #e8e3e3;
    position: absolute;
    top: 30px;
    border-radius: 5px;
}
.modal-head {
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.modal-body {
    display: flex;
    flex-direction: column;
    height: 77%;
    justify-content: space-between;
    align-items: center;
}
.content-img {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-height: 240px;
    align-items: center;
    overflow-y: auto;
    margin-top: 35px;
}
.closed {
    right: 20px;
    position: absolute;
    font-size: 27px;
    top: 10px;
    cursor: pointer;
    font-family: cursive;
}
.content-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.colonne.over {
  border: 3px dotted #666;
}
.unit-img{
    width: 160px;
    height: 100px;
    cursor: pointer;
    margin-bottom: 5px;
}
.content-btn{
    margin-top: 2rem;
    width: 86%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.local-storage, .media-storage {
    background: #7ae608cf;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    height: 40px;
    width: 270px;
    margin-bottom: 0.5rem;
}
.img-attribut {
    width: 270px;
    display: flex;
    flex-direction: column;
}
.content-checkbox {
    display: flex;
    width: 103%;
    justify-content: space-between;
}
.checkbox-item {
    display: flex;
    width: 50%;
    align-items: center;
}
input.check {
    width: 30px;
}
.check-title{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.img-setting {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.img-attribut .title{
    width: 100%;
    padding-top: 2rem;
}
input.check {
    width: 20px !important;
    height: 14px !important;
}
.img-attribut .content-input {
    padding-top: 1rem;
    height: 65%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.btn-valid {
    width: 120px;
    height: 40px;
    background: #7ae608cf;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
.txt-head {
    font-size: 30px;
}
p{
    margin: 0;
}
.content_modal_update_bloc{
    height: 35%;
}
.body_update_bloc{
    height: 48%;
}
.btn-delete{
    width: 120px;
    background: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.close-preview , .close-editor{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 153px;
    height: 34px;
    background: green;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    margin-bottom: 15px;
}
.min-height-150{
    min-height: 200px;
}
.setting{
    width: 270px;
    display: flex;
    flex-direction: column;
}
.setting .title{
    width: 100%;
    padding-top: 2.2rem;
}
.content-input-setting {
    width: 100%;
    position: relative;
}
.setting .content-dropdown{
    margin-top: 0.2rem;
    width: 100%;
    z-index: 5;
}
.setting .content-input {
    height: 65%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: 1rem;
}
.setting .content-input input{
    height: 30px;
}
.img-inserted-container{
    width: 100%;
    display: flex;
}
.content-btn-register {
    display: flex;
    justify-content: flex-end;
}
.btn-register {
    width: 170px;
    height: 50px;
    border: navajowhite;
    color: white;
    background: #b3b3b3;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
}
.insert-table-body {
    flex-direction: column;
    height: 85px;
    justify-content: space-around;
    align-items: flex-start;
}
.content_modal_insert_table{
    height: 500px;
}
.body_insert_table{
    height: 56%;
}
.content-three-dots {
    font-size: 28px;
    width: 30px;
    height: 30px;
    display: flex;
    cursor: pointer;
    position: absolute;
    right: 10px;
    align-items: center;
    z-index: 2;
    justify-content: center;
}
.content-three-dots:hover {
    background: #ececec;
    border-radius: 50%;
}
.three-dots {
    height: 0px;
    padding-bottom: 46px;
}
.content-input {
    display: flex;
    justify-content: space-between;
    width: 31%;
    position: relative;
}
.input-link {
    position: absolute;
    bottom: -34px;
}
.btn-insert-table{
    justify-content: flex-end;
}
.content-input input{
    width: 100%;
}
.colonne table{
    width: 100%;
}
.back-color-content {
    position: relative;
}
.content-color-back{
    height: 19px;
}
.content-color-back img{
    width: 48%;
}
.content-color {
    width: 23px;
    height: 23px;
}
.blocs {
    display: flex;
    justify-content: space-evenly;
    padding: 0 10rem;
    align-items: center;
}
@media(max-width: 1023px){
    .preview-page .section-body{
        flex-wrap: wrap;
    }
    .preview-page .section-body div{
        width: 100% !important;
    }
    .section-containerOn{
        flex-wrap: wrap;
    }
}

.paragraph-container{
    display: flex;
    flex-direction: column;
    position: relative;
}

.modal-upload-file .active, .modal-upload-file-two .active, .modal-edit-img .active {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #36CCB5;
}
.modal-upload-file .active:before, .modal-upload-file-two .active:before, .modal-edit-img .active:before {
    position: absolute;
    content: url('../img/checked.svg');
    /* // top: 0;*/
    /* // left: 0;*/
    /* // bottom: 0;*/
    /* // right: 0;*/
    /* display: flex;*/
    /* justify-content: center;*/
    /* align-items: center;*/
    width: 40px !important;
    /* margin-left: 34%;*/
}
.html-output{
    width: 100%;
    min-height: 200px;
    height: auto;
}
.trumbowyg-demo{
    width: 100%;
}
.section-header{
    display: flex;
    align-items: center;
    height: 40px;
    width: 100%;
    background: #8dada7;
    justify-content: center;
}
.section-header button{
    margin-right: 10px;
    cursor: pointer;
    border: none;
    border-radius: 2px;
}
.edit{
    width: 80px !important;
    background: #dadada !important;
    border: 1px solid gray !important;
    margin-top: 1px;
}
.edit-bloc, .edit-section {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
}
.bloc-edit-container {
    width: 96%;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    flex-wrap: wrap;
}
.items {
    width: 225px;
    display: flex;
    flex-direction: column;
    height: 110px;
    border: 1px solid #cecece;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    position: relative;
    margin-bottom: 1rem;
}
.content-property {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 3px;
}
.content-property span{
    font-style: italic;
}
.txt-header{
    position: absolute;
    top: -12px;
    font-weight: bold;
}
.input {
    width: 60px;
}
.basic-item {
    height: 15px;
}
.add-bloc-content {
    width: 93.5%;
    height: 75px;
    display: flex;
    padding: 1rem;
    border: 1px solid #cecece;
    position: relative;
    margin-bottom: 1rem;
}
.insert-bloc-content {
    width: 100%;
}
.title-add-bloc {
    position: absolute;
    top: -20px;
    font-weight: bold;
}
.blocs-is {
    max-height: 68px;
    overflow-y: auto;
}
button.add-btn {
    position: absolute;
    right: 1rem;
}
.content-btn-bloc {
    width: 130px;
    display: flex;
    justify-content: space-around;
}
.content-btn-bloc button{
    cursor: pointer;
}
.content-action {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.content-action .content-input {
    width: 270px;
    align-items: center;
    margin-top: 0.5rem;
}
.content-action input{
    height: 30px;
}

.img-attribut input {
    height: 30px;
}
.create-page-container {
    height: 175px;
    margin-bottom: 1rem;
}
.create-page {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    background: #b3b3b3;
}
.create-page .item{
    width: 50%;
}
.create-page .item .input{
    width: 300px;
    height: 30px;
    border: none;
}
.justify_content_center{
    justify-content: center !important;
}
.content-insert-img .edit-btn-img{
    position: absolute;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 10px;
    cursor: pointer;
}
.content_modal_insert_text{
    width: 72%; 
    height: 570px;
}
.dropdown-alignment{
    margin-top: 0.5rem;
    width: 67px;
    display: flex;
    flex-direction: column;
    border-radius: 2px;
    border: 1px solid #b3b3b3;
    max-height: 112px;
    overflow-y: auto;
    position: absolute;
    background: white;
    z-index: 1;
}
.update-text-btn{
    position: absolute;
    right: 3rem;
    top: 0.2rem;
}
.content-css-editor{
    min-height: 470px;
}
.content-dropdown-css{
    position: relative;
}
.CodeMirror{    
    top: 17rem !important;
    width: 100% !important;
    height: 70% !important;
}
.btn-return{
    position: absolute;
    left: 2rem;
    border: 1px solid #adabab;
    width: 30px;
    height: 30px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    font-size: 21px !important;
}
.drop-container {
    display: flex;
    flex-direction: column;
    margin-top: 0.2rem;
    border: 0;
    max-height: 82px;
    overflow-y: auto;
    position: absolute;
    width: 100%;
    z-index: 1;
}
.item-content {
    display: flex;
    width: 90%;
    padding: 0 10px;
    height: 35px;
    align-items: center;
    background: gray;
    cursor: pointer;
}
.item-content:nth-child(even){
    background: #b3b3b3;
}
.check-item {
    margin-right: 1rem;
}
.list-css-added {
    display: flex !important;
    justify-content: space-evenly !important;
    align-items: center;
    height: 100px;
    border: 1px solid #d6d2d2;
    margin: 0px 6rem;
}
.add-css-code-header h2{
    display: flex;
    justify-content: center;
    width: 100%;
}
.content-btn-css {
    width: 27%;
    display: flex;
    justify-content: space-between;
}
.content-dropdown-css .input-drop{
    width: 210px;
    height: 27px;
}
.input-check{
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.input-check-page{
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.css-name {
    width: 460px;
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.css-name span{
    display: flex;
    align-items: center;
}

.css-name input{
    width: 60%;
    height: 100%;
}

.content-css-name {
    height: 70px;
    margin-top: 1rem;
    border: 1px solid #b5b0b0;
    display: flex;
    align-items: center;
    padding-left: 2rem;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  .content-btn-move {
    position: absolute;
    width: 100%;
    display: flex !important;
    justify-content: center !important;
    top: 0.5rem;
}
.move{
    width: 15px;
    height: 15px;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    font-size: 11px !important;
    cursor: pointer;
    border: 1px solid #e2dddd;
    background: #e6e3e3;
    border-radius: 50%;
}
.move-left{
    margin-right: 0.5rem;
}
.move-rigth{
    margin-left: 0.5rem;
}